<%= form_with(model: thing,url: things_new_place_path, local: true) do |form| %>
  <% if thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% thing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-12 ml-3">
    <div class="card">
        <div class="card-header"><h3><%= @place.name %>のモノ登録</h3></div>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>モノの名前</td>
                    <td><div class="field"><%= form.text_field :name,class: "form-control" %></div></td>
                </tr>
                <tr>
                    <td>掃除頻度</td>
                    <td><div class="field">
                          <%= form.number_field :clean_frequency %><p>日/一回</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>掃除グッズ1</td>
                    <td><div class="field"><%= form.text_field :tool1,class: "form-control" %></div></td>
                </tr>
                <tr>
                    <td>掃除グッズ2</td>
                    <td><div class="field"><%= form.text_field :tool2,class: "form-control" %></div></td>
                </tr>
                <tr>
                    <td>掃除グッズ3</td>
                    <td><div class="field"><%= form.text_field :tool3,class: "form-control" %></div></td>
                </tr>
                <tr>
                    <td>掃除グッズ4</td>
                    <td><div class="field"><%= form.text_field :tool4,class: "form-control" %></div></td>
                </tr>
                <tr>
                    <td>掃除グッズ5</td>
                    <td><div class="field"><%= form.text_field :tool5,class: "form-control" %></div></td>
                </tr>
                <tr>
                    <td>ワンポイントメモ</td>
                    <td><div class="field">
                            <%= form.text_area :remarks,class: "form-control" %>
                        </div>
                    </td>
                </tr>
                <div class="field">
                  <%= form.hidden_field :clean_day,:value => time %>
                </div>
            </tbody>
        </table>
    </div>
    <br>
    <div class="action">
      <%= form.submit "登録する", class: "btn btn-outline-success btn-block" %>
    </div>
</div>


<% end %>
