<% if logged_in? %>
<div class="card m-2">
    <div class="card-header">
        掃除名言
    </div>
    <div class="card-body">
        <% @motivation.each do |motivation| %>
          <%= motivation.word %>
        <% end %>
    </div>
</div>
<h3>本日の掃除するモノ一覧</h3>
<div class="container">
  <table class="table">
    <% @things.each do |thing| %>
      <tr>
        <% @clean_limit = thing.clean_day + thing.clean_frequency - @today %>
        <% if @clean_limit <= 0 %>
          <td><%= link_to thing.name,place_thing_path(thing.place_id,thing),class: "btn btn-outline-primary" %></td>
          <td><%= link_to '掃除完了！', place_thing_path(thing.place_id,thing,params: { thing: { clean_day: @today} }), method: :put,class:"btn btn-outline-primary" %></td>
          <td><%= link_to '見送る', place_thing_path(thing.place_id,thing,params: { thing: { clean_day: @today} }), method: :put,class:"btn btn-outline-primary" %></td>
          <td>掃除予定日より<%= @clean_limit.to_i * -1 %>日経過</td>
          <td>ホコリパラメーター：<button type="button" class="btn btn-danger"><i class="fas fa-battery-full"></i></button></td>
        <% end %>
        </tr>
    <% end %>
  </table>
</div>

<h5>ホコリパラメーター:汚い</h5>
<div class="container">
  <table class="table">
    <% @things.each do |thing| %>
      <tr>
        <% @clean_limit = thing.clean_day + thing.clean_frequency - @today %>
        <% @clean_progress_day = @today - thing.clean_day %>
        <% if @clean_progress_day.to_i > thing.clean_frequency * 2/3 && @clean_progress_day.to_i < thing.clean_frequency %>
          <td><%= link_to thing.name,place_thing_path(thing.place_id,thing),class: "btn btn-outline-primary" %></td>
          <td><%= link_to '掃除完了！', place_thing_path(thing.place_id,thing,params: { thing: { clean_day: @today} }), method: :put,class:"btn btn-outline-primary" %></td>
          <td>掃除まであと：<%= @clean_limit.to_i %>日</td>
          <td>ホコリパラメーター：<button type="button" class="btn btn-warning"><i class="fas fa-battery-three-quarters"></i></button></td>
        <% end %>
        </tr>
    <% end %>
  </table>
</div>

<h5>ホコリパラメーター:普通</h5>
<div class="container">
  <table class="table">
    <% @things.each do |thing| %>
      <tr>
        <% @clean_limit = thing.clean_day + thing.clean_frequency - @today %>
        <% @clean_progress_day = @today - thing.clean_day %>
        <% if @clean_progress_day.to_i >= thing.clean_frequency * 1/3 && @clean_progress_day <= thing.clean_frequency * 2/3 %>
          <td><%= link_to thing.name,place_thing_path(thing.place_id,thing),class: "btn btn-outline-primary" %></td>
          <td><%= link_to '掃除完了！', place_thing_path(thing.place_id,thing,params: { thing: { clean_day: @today} }), method: :put,class:"btn btn-outline-primary" %></td>
          <td>掃除まであと：<%= @clean_limit.to_i %>日</td>
          <td>ホコリパラメーター：<button type="button" class="btn btn-secondary"><i class="fas fa-battery-quarter"></i></button></td>
        <% end %>
        </tr>
    <% end %>
  </table>
</div>

<h5>ホコリパラメーター:キレイ</h5>
<div class="container">
  <table class="table">
    <% @things.each do |thing| %>
      <tr>
        <% @clean_limit = thing.clean_day + thing.clean_frequency - @today %>
        <% @clean_progress_day = @today - thing.clean_day %>
        <% if @clean_progress_day.to_i < thing.clean_frequency * 1/3 %>
          <td><%= link_to thing.name,place_thing_path(thing.place_id,thing),class: "btn btn-outline-primary" %></td>
          <td><%= link_to '掃除完了！', place_thing_path(thing.place_id,thing,params: { thing: { clean_day: @today} }), method: :put,class:"btn btn-outline-primary" %></td>
          <td>掃除まであと：<%= @clean_limit.to_i %>日</td>
          <td>ホコリパラメーター：<button type="button" class="btn btn-primary"><i class="fas fa-battery-empty"></i></button></td>
        <% end %>
        </tr>
    <% end %>
  </table>
</div>
<% else %>
<div class="center jumbotron" id="container">
  <div class="text-center">
    <h1>掃除管理アプリ</h1>
    <div class="row">
      <div class="col-sm-6">
        <h2><%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %></h2>
      </div>
      <div class="col-sm-6">
        <h2><%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-info' %></h2>
      </div>
    </div>
  </div>
</div>
<% end %>