<p id="notice"><%= notice %></p>

<h1>場所一覧</h1>
<div class="container">
  <table class="table">
      <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, place_path(place),class: "btn btn-outline-primary" %></td>
        <td><%= link_to '名称変更', edit_place_path(place),class: "btn btn-outline-dark" %></td>
        <td><%= link_to '削除', place, method: :delete, data: { confirm: '本当に削除しますか?' },class:"btn btn-outline-dark" %></td>
      </tr>
      <% end %>
  </table>
</div>
<br>

<%= form_with(model: @place,local: true) do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.text_field :name,placeholder: "＋場所",class: "form-control" %>
      </div>
      <div class="col-sm-offset-2 col-sm-1">
        <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
      </div>
    </div>
<% end %>