<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @place.user_id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @place.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
